extends ./layout.jade

block content
  h1= "Game " + id
  table
    tr
      td(id="sq-0") _
      td(id="sq-1") _
      td(id="sq-2") _
    tr
      td(id="sq-3") _
      td(id="sq-4") _
      td(id="sq-5") _
    tr
      td(id="sq-6") _
      td(id="sq-7") _
      td(id="sq-8") _
  script.
    var squares = ['sq-0', 'sq-1', 'sq-2',
                   'sq-3', 'sq-4', 'sq-5',
                   'sq-6', 'sq-7', 'sq-8'];
    squares.forEach(function(square) {
      var s = document.getElementById(square);
      s.addEventListener('click', function() {
        console.log('Clicked', square);
      });
    });
