doctype html
html(lang="en")
  head
    title tictactoe
    base(href="/")
    link(rel="stylesheet" type="text/css" href="style.css")
  body
    block content
    script(src="/socket.io/socket.io.js" type="application/javascript")
    script(src="client.js" type="application/javascript")
